<div class="row d-flex justify-content-center ">
    <div class="col-md-6">
        <div class="card text-center">
            <div class="card-header fw-bold">
                SIGN UP
            </div>
            <div class="card-body">

                <form>
                    <!-- Name input -->
                    <div class="form-outline mb-4">
                        <div class="row">
                            <div class="col-6">
                                <!-- <label class="form-label" for="registerName">First Name</label> -->
                                <input placeholder="First Name" type="text" id="registerName" class="form-control" />
                            </div>
                            <div class="col-6">
                                <!-- <label class="form-label" for="registerName">Last Name</label> -->
                                <input placeholder="FLast Name" type="text" id="registerName" class="form-control" />
                            </div>
                            
                        </div>
                        <div class="row mt-4">
                            <div class="col-6">
  
                                <input type="email" id="registerName" placeholder="Email" class="form-control" />
                            </div>
                            <div class="col-6">
                                <label class="form-label" for="registerName">Last Name</label>
                                <input type="text" id="registerName" class="form-control" />
                            </div>
                            
                        </div>


                    </div>

                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="registerUsername" class="form-control" />
                        <label class="form-label" for="registerUsername">Username</label>
                    </div>



                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="registerPassword" class="form-control" />
                        <label class="form-label" for="registerPassword">Password</label>
                    </div>

                    <!-- Repeat Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="registerRepeatPassword" class="form-control" />
                        <label class="form-label" for="registerRepeatPassword">Repeat password</label>
                    </div>

                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-center mb-4">
                        <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
                            aria-describedby="registerCheckHelpText" />
                        <label class="form-check-label" for="registerCheck">
                            I have read and agree to the terms
                        </label>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
                </form>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-body-secondary">
                2 days ago
            </div>
        </div>
    </div>

</div>